modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = [
  "freetype",
  "lcms2",
  "libimagequant",
  "libjpeg",
  "libtiff",
  "libwebp",
  "libxcrypt",
  "openjpeg",
  "tcl",
  "tk",
  "zlib",
]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 45249
externalPort = 3000


[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = [
  "javascript_object_storage:1.0.0",
  "javascript_stripe:1.0.0",
  "javascript_log_in_with_replit:1.0.0",
]

[objectStorage]
defaultBucketID = "replit-objstore-5ea22a1a-b30c-48b6-b014-7ef11304d43a"

[userenv]

[userenv.shared]
TESTING_VITE_STRIPE_PUBLIC_KEY = "sk_test_51SIGf7B2R0DGd4XgTRef2trwJecrLZrXNMoMPjZ9vVy5e38G8W68HJokXq8ZvKsyKJwWfDpQWLI0OpqhBPFIZoli00pBT3aFxf"
TESTING_STRIPE_SECRET_KEY = "pk_test_51SIGf7B2R0DGd4XgCs9kjYL317OL2cSQ9V2zlYbE0jxiOJ69rB5g0Qgxtqw1jJCZbLXDCgvdZ05pQnhxEXsjeLZo00ZBFKOJOd"
